{% load static %} 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eldjomla</title>
    <link rel="stylesheet" href="{% static '../static/souq/static/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/souq/static/main/main.css' %}">
    <link rel="shortcut icon" href="{% static '../static/souq/static/image/icon.png' %}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3540224701157936"
     crossorigin="anonymous"></script>
</head>

<body>
    {% include 'souq/navbar.html' %}


    <div class="container">
        <div class="row offset-2">
            <div class="col-md-10 col-md-7 py-4">
    
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static '../static/souq/static/images/item-0.png' %}" class="d-block w-100" height="300px" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static '../static/souq/static/images/item-1.png' %}" weidth=100px class="d-block w-100" height="300px" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static '../static/souq/static/images/item-2.png' %}" class="d-block w-100" height="300px" alt="...">
                        </div>
                    </div>
               
                </div>
    
            </div>
        </div>
    </div>
    
    
    {% block content %} 
    
    {% endblock %}







    <!-- ========================= FOOTER ========================= -->
    <div>
        <footer class="section-footer border-top bg-dark">
            <div class="container   bg-dark">
                <section class=" text-light border-top row">
                    <div class="col-md-3 bg-dark">
                        <p class=" text-light mt-3"> &copy 2022 Storebraf </p>
                    </div>

                    <nav class="mt-2 col-6 navbar-expand-lg navbar-light bg-dark">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ">
                                <li class="nav-item">
                                    <a class="nav-link text-light active" aria-current="page" href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="{% url 'about-us' %}">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="{% url 'privacy-policy' %}">Privacy Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="{% url 'contact-us' %}">Contact Us</a>
                                </li>

                            </ul>
                        </div>


                    </nav>
                    <div class=" col-3  w-100 p-2">

                        <a class="mr-2 text-light " href="https://web.facebook.com/Storebraf-107662241117733"><i class="fab fa-facebook fa-2x"></i></a>

                        <a class="mr-2 text-light" href="https://twitter.com/Elmahadjadz"><i class="fab fa-twitter fa-2x"></i></a>

                        <a class="mr-2 text-light" href="https://www.pinterest.com/abouselaf2015/"><i class="fab fa-pinterest fa-2x"></i></a>

                        <a class="mr-2 text-light" href="https://www.instagram.com/shoes_fishion_merket/"><i class="fab fa-instagram fa-2x"></i></a>

                        <a class="mr-2 text-light" href="https://www.linkedin.com/in/now-martet-a5b1b1190/"><i class="fab fa-linkedin fa-2x"></i></a>



                    </div>
            </div>






            </section>
    </div>
    <!-- //container -->
    </footer>
    </div>
    <!-- ========================= FOOTER END // ========================= -->

    <script src="{% static '../static/souq/static/jquery/jquery-3.5.1.slim.min.js' %} "></script>
    <script src="{% static '../static/souq/static/jquery/jquery.min.js' %} "></script>
    <script src="{% static '../static/souq/static/icons/fontawosme-all.min.js' %} "></script>
    <script src="{% static '../static/souq/static/bootstrap/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static '../static/souq/static/bootstrap/bootstrap.min.js' %} "></script>
    <script src="{% static '../static/souq/static/bootstrap/popper.min.js' %} "></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3540224701157936"
     crossorigin="anonymous"></script>
</body>

</html>
